li
  == link_to gravatar_for(comment.user, size: 25), comment.user
  span.user
    == link_to comment.user.name, comment.user
  span.content
    == comment.content
    span.timestamp
      |  Posted 
      == time_ago_in_words(comment.created_at)
      |  ago.