- provide(:title, 'All users')
h1 All users

== will_paginate

== pagination_subset_items_display(@users.current_page, @users.per_page, @users.length, @users.count, "users")
br
br

ul.users
  == render @users

br
== pagination_subset_items_display(@users.current_page, @users.per_page, @users.length, @users.count, "users")
br

== will_paginate