li id=(feed_item.id)
  == link_to gravatar_for(feed_item.user), feed_item.user
  span.user
    == link_to feed_item.user.name, feed_item.user
    | | #{pluralize(feed_item.user.microposts.count, "micropost")}
  span.content== feed_item.content
  span.timestamp
    == link_to "Posted " + time_ago_in_words(feed_item.created_at) + " ago.", micropost_path(feed_item)
    == pluralize(feed_item.comments.count, "comment")
    |  on this micropost.
  - if current_user?(feed_item.user)
    == link_to "delete", feed_item, method: :delete, data: { confirm: "Are you sure to delete?" }, title: feed_item.content