<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <%= link_to "Posted " + time_ago_in_words(micropost.created_at) + " ago.", micropost_path(micropost) %>
	<%= pluralize(micropost.comments.count, "comment") %> on this micropost.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "Are you sure to delete?" },
                                     title: micropost.content %>
  <% end %>
</li>